{{ingredient-group-editor
  allowEditTitle=false
  allowRemove=false
  showTotal=true
  ingredientGroup=grainGroup
  onChange=(action (pipe (action 'updateGrains') (action onChange)))}}
<div class='brew-session-mash-property'>
  <label class='brew-session-mash-property-label'>
    <span class='brew-session-mash-property-label-title'>Mash Thickness</span>
    {{input
      class='brew-session-mash-property-value-input'
      value=(readonly mashThickness.significantValue)
      input=(action (pipe (action 'updateMashThickness') (action onChange)))}}
  </label>
</div>
<div class='brew-session-mash-property'>
  <label class='brew-session-mash-property-label'>
    <span class='brew-session-mash-property-label-title'>Mash Temperature</span>
    {{input
      class='brew-session-mash-property-value-input'
      value=(readonly mashTemperature.significantValue)
      input=(action (pipe (action 'updateMashTemperature') (action onChange)))}}
  </label>
</div>
<div class='brew-session-mash-property'>
  <label class='brew-session-mash-property-label'>
    <span class='brew-session-mash-property-label-title'>Grain Temperature</span>
    {{input
      class='brew-session-mash-property-value-input'
      value=(readonly grainTemperature.significantValue)
      input=(action (pipe (action 'updateGrainTemperature') (action onChange)))}}
  </label>
</div>
<div class='brew-session-mash-property'>
  <label class='brew-session-mash-property-label'>
    <span class='brew-session-mash-property-label-title'>Strike Volume</span>
    {{input
      class='brew-session-mash-property-value-input'
      value=(readonly strikeVolume.significantValue)
      input=(action (pipe (action 'updateStrikeVolume') (action onChange)))}}
  </label>
</div>
<div class='brew-session-mash-property'>
  <label class='brew-session-mash-property-label'>
    <span class='brew-session-mash-property-label-title'>Strike Temperature</span>
    {{input
      class='brew-session-mash-property-value-input'
      value=(readonly strikeTemperature.significantValue)
      input=(action (pipe (action 'updateStrikeTemperature') (action onChange)))}}
  </label>
</div>