{{item-dirty-status item=recipe}}
<div class='form-group'>
  <label class='form-group-label'>
    <span class='form-group-label-title'>Title</span>
    {{input class='form-group-input' value=recipe.title input=(action onChange)}}
  </label>
</div>
<div class='form-group'>
  {{#each recipe.ingredientGroups key='@index' as |ingredientGroup|}}
    {{ingredient-group-editor
      ingredientGroup=ingredientGroup
      onChange=(action (queue (action 'updateIngredientGroup' ingredientGroup) (action onChange)))
      onRemove=(action (queue (action 'removeIngredientGroup' ingredientGroup) (action onChange)))}}
  {{/each}}
  <button
    class='add-ingredient-group-button btn btn-text'
    {{action (queue (action 'addIngredientGroup') (action onChange))}}>
    {{fa-icon 'plus'}} Ingredent Group
  </button>
</div>
<div class='form-group'>
  {{#each recipe.instructionGroups key='@index' as |instructionGroup|}}
    {{instruction-group-editor
      instructionGroup=instructionGroup
      onChange=(action (queue (action 'updateInstructionGroup' instructionGroup) (action onChange)))
      onRemove=(action (queue (action 'removeInstructionGroup' instructionGroup) (action onChange)))}}
  {{/each}}
  <button
    class='add-instruction-group-button btn btn-text'
    {{action 'addInstructionGroup'}}>
    {{fa-icon 'plus'}} Instruction Group
  </button>
</div>